html, head {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    margin: 0;
    transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
}

*:focus {
    outline: none;
}

img {
	border-radius: 7px;
}

* img {
	border-radius: 7px;
}

body.visible {
    opacity: 1;
}

body.fade-out {
    opacity: 0;
}

#desktop #navigation {
    height: 10%;
    width: 100%;
    background-color: #006eff;
    border: none;
    border-bottom: 3px solid #004bad;
    display: flex;
    justify-content: space-between;
}

#desktop #navigation .center {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#desktop #navigation button {
    height: 90%;
    aspect-ratio: 16 / 9;
    background-color: #0328fc;
    border: 2px solid #0328fc;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    margin: 0 3px;
    flex-grow: 1;
    max-width: calc(25% - 6px);
}

#desktop #navigation button:hover {
    color: black;
    background-color: white;
    border: 2px solid white;
}

#mobile #mnavigation {
    height: 5%;
    width: 100%;
    background-color: #006eff;
    border: none;
    border-bottom: 3px solid #004bad;
}

#mobile #mnavigation select {
    width: 95%;
    height: 95%;
    background-color: #0328fc;
    border: 2px solid #0328fc;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

#mobile #mnavigation .center {
    height: 100%;
}

#desktop, #mobile {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loader {
    height: 35%;
    aspect-ratio: 1 / 1;
    border: 3px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    background-color: transparent;
    animation: loadrotate 0.7s linear infinite;
}

@keyframes loadrotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}

@media screen and (min-width: 501px) {
    #desktop {
        display: block;
    }

    #mobile {
        display: none;
    }
}
